<div class="flex h-screen p-4 flex-col justify-center items-center">
    <form class="border w-[400px] p-2 shadow-md ">
        <p class="bg-blue-200 p-2 text-[13px] font-semibold">ADMIN LOGIN FORM</p>
        <div class="mt-4">
            <label class="font-semibold text-[13px] text-gray-700">Email Id</label><br>
            <input type="email"
                class="border p-1 w-full border-gray-200 mt-0.5 focus:outline-none focus:border-gray-600 text-[14px] focus:shadow-sm">
        </div>
        <div class="mt-4">
            <label class="font-semibold text-[13px] text-gray-700">Password</label><br>
            <input type="password"
                class="border p-1 w-full border-gray-200 mt-0.5 focus:outline-none focus:border-gray-600 text-[14px] focus:shadow-sm">
        </div>

        <div class="mt-6">
            <button
                class="bg-green-500 hover:bg-green-600 w-full text-[13px] font-semibold p-1.5 text-white">LOGIN</button>
        </div>
    </form>
</div>