<div class="bg-black text-white text-[13px] p-4">
    <div class="grid grid-cols-3 place-items-center ">
        <div>
            <p class="text-[20px] font-semibold">
                <img src="../../../public/logo.jpg" alt="logo">
            </p>
        </div>
        <div>
            <ul>
                <li>Home</li>
                <li class="my-2">Dashboad</li>
                <li class="my-2">Contact</li>
                <li class="my-2">Register</li>
                <li class="my-2">Login</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="my-2">Contact</li>
                <li class="my-2">Email</li>
                <li class="my-2">Instagram</li>
                <li class="my-2">Facebook</li>
                <li class="my-2">youTube</li>
            </ul>
        </div>
    </div>
</div>