<div class="border border-green-600 flex flex-col justify-center items-center h-screen">
    <form (ngSubmit)="updateUser()" #updateForm="ngForm"
        class="border p-4 shadow-xl rounded-md text-[13px] bg-gray-100">

        <p class="text-[24px] font-semibold font-serif text-center mb-8 my-4">Update Form here !!!</p>

        <div class="mt-6">
            <label class="font-semibold text-gray-600">Name</label> <br>
            <input type="text" name="name" [(ngModel)]="user.name"
                class="border mt-1 p-1.5 w-full rounded-md border-gray-300">
        </div>

        <div class="grid grid-cols-2 gap-6">
            <div class="mt-6">
                <label class="font-semibold text-gray-600">Email Id</label> <br>
                <input type="email" name="email" [(ngModel)]="user.email"
                    class="border mt-1 p-1.5 w-full rounded-md border-gray-300">
            </div>


            <div class="mt-6">
                <label class="font-semibold text-gray-600">Password</label> <br>
                <input type="password" name="password" [(ngModel)]="user.password"
                    class="border mt-1 p-1.5 w-full rounded-md border-gray-300">
            </div>

        </div>


        <div class="grid grid-cols-2 gap-6">
            <div class="mt-6">
                <label class="font-semibold text-gray-600">City :</label><br>
                <input type="text" name="city" [(ngModel)]="user.city"
                    class="border mt-1 p-1.5 w-full rounded-md border-gray-300">
            </div>


            <div class="mt-6">
                <label class="font-semibold text-gray-600 mt-1">State</label><br>
                <select name="state" class="p-1.5 border pr-[75px] mt-0.5 rounded-md w-full border-gray-300"
                    [(ngModel)]="user.state">
                    <option>Maharashtra</option>
                    <option>Karnataka</option>
                    <option>Bihar</option>
                    <option>Kerala</option>
                    <option>Telangana</option>
                    <option>Other</option>
                </select>
            </div>
        </div>


        <div class="mt-8">
            <button class="border p-2 bg-green-600 rounded-lg w-full font-semibold text-white">Update</button>
        </div>
    </form>
</div>