<div class="flex justify-end login-bg-image">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()"
    class="border bg-gray-100 my-60 md:my-16 rounded-md shadow-xl p-8 mr-[240px]">
    <div>
      <h1 class="font-serif text-[24px] font-semibold text-center">
        Login Here !!!
      </h1>
    </div>

    <div class="mt-10">
      <label class="font-semibold text-[13px] text-gray-600">Email Id</label><br>
      <input type="email" formControlName="email" placeholder="Enter Email"
        class="border border-slate-300 p-1.5 w-full mt-0.5 rounded-md" />
    </div>
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-red-500 text-sm">
      <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
      <p *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email</p>
    </div>



    <div class="mt-6">
      <label class="font-semibold text-[13px] text-gray-600">Password</label><br>
      <input type="password" formControlName="password" placeholder="Enter Password"
        class="border border-slate-300 p-1.5 w-full mt-0.5 rounded-md" />
    </div>
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 text-sm">
      <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
      <p *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters</p>
    </div>



    <div class="mt-6">
      <button type="submit" class="p-1.5 bg-green-600 text-white px-8 text-[14px] font-semibold rounded-md w-full"
        [disabled]="loginForm.invalid">
        Login
      </button>
    </div>

    <p class="text-blue-500 font-semibold text-[13px] text-center mt-4">
      Don't have an Account ?? <span class="text-red-500"><a routerLink="/register">Register</a></span>
    </p>
  </form>
</div>