<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="p-4 m-4 w-[337px] mt-[40px] shadow-xl">
  
  <div>
    <h1 class="text-[22px] text-center font-bold">Register here !!!</h1>
  </div>
  <div class="mt-[20px]">
    <label for="name" class="font-semibold">Name:</label> <br>
    <input type="text" id="name" name="name" class="p-[5px] border w-[100%]" ngModel required>
  </div>
  <div class="mt-[20px]">
    <label for="age" class="font-semibold">Age:</label><br>
    <input type="number" id="age" name="age" class="p-[5px] border w-[100%]" ngModel required>
  </div>
  <div class="mt-[20px]">
    <label for="salary" class="font-semibold">Salary:</label><br>
    <input type="number" id="salary" name="salary" class="p-[5px] border w-[100%]" ngModel required>
  </div>
  <button type="submit" [disabled]="userForm.invalid" class="font-semibold mt-[25px] p-[9px] bg-green-500 w-[100%] rounded-md cursor-pointer">Add User</button>
</form>
