.register-bg-image {
  background-image: url("../../../public/registration-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
