<div class="flex h-screen justify-center items-center contact-bg">
    <form class="border p-4 py-6 ml-[600px] bg-gray-200 rounded-sm shadow-md">
        <p class="text-[35px] font-serif font-semibold text-center">Contact Us</p>
        <div class="flex mt-12 items-center">
            <img src="../../../public/maps-and-flags.png" alt="address" class="h-[20px]">
            <p class="font-sans ml-6 text-[13px] font-semibold text-gray-600"> 12/A Mahajan Lay-Out Jaitala Road <br>
                <span>Nagpur, Maharashtra</span>
            </p>
        </div>
        <div class="flex mt-6">
            <img src="../../../public/phone-flip.png" alt="phone" class="h-[20px]">
            <p class="font-sans ml-6 text-[13px] font-semibold text-gray-600">9932202049</p>
        </div>
        <div class="flex mt-6">
            <img src="../../../public/linkedin (1).png" alt="linkedin" class="h-[20px]">
            <p class="font-sans ml-6 text-[13px] font-semibold text-gray-600">https://in.linkedin.com/rohitselokar</p>
        </div>
        <div class="flex mt-6 mb-4">
            <img src="../../../public/envelope.png" alt="email" class="h-[20px]">
            <p class="font-sans ml-6 text-[13px] font-semibold text-gray-600">rohitselokar157gmail.com</p>
        </div>
    </form>
</div>