<nav class="flex bg-slate-700 text-white p-4 font-semibold justify-around text-[14px]">
    <div>
        <a routerLink="/" class="">Rohit</a>
    </div>
    <div>
        <ul class="flex">
            <li class="ml-8 hover:border"><a routerLink="/">Home</a></li>
            <li class="ml-8 hover:border"><a routerLink="/register">Register</a></li>
            <li class="ml-8 hover:border"><a routerLink="/list-all-users">Dashboard</a></li>
            <li class="ml-8 hover:border"><a routerLink="/contact">Contact us</a></li>
        </ul>
    </div>
    <div>
        <button routerLink="/login">Login</button>
    </div>
</nav>
<router-outlet></router-outlet>